body {
    color: white;
    margin: 0;
    padding: 0;
    background: url('img/img1.jpg');
    height: 800px;
    font-family: 'Oswald', sans-serif;
}

.left {
    position: absolute;
    left: 60px;
    top: 22px;
    display: inline-block;
    /* border: 2px solid red; */
}

.left img {
    width: 54px;
    filter: invert(100%);

}

.left div {
    position: absolute;
    display: inline-block;
    /* text-align: center; */
    /* margin-bottom: 22px; */
    /* border: 2px solid yellow; */
    padding: 18px 19px;

}

.mid {
    display: block;
    width: 44%;
    margin: 22px auto;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 60px;
    top: 22px;
    display: inline-block;
    /* border: 2px solid blue; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 24px;
    font-size: 16px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: gray;
}

.btn {
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 42px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 2px;
    font-family: 'Oswald', sans-serif;
}
.btn:hover{
    background-color: rgb(31, 30, 30);
}
/* header{
    position: sticky;
    top: 20px;
} */
.container{
    /* border: 2px solid red; */
    margin: 29px 60px;
    padding: 55px 22px;
    width: 33%;
    border-radius: 4px;
}
h2{
    text-align: center;
}
.form-group input{
    text-align: center;
    display: block;
    width: 198px;
    padding: 11px 68px;
    border: 2px solid black;
    margin: 3px auto;
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    font-weight: bolder;
}
.container .btn{
    display: inline-block;
    width: 118px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 96px;
    margin-right: -85px;
    padding: 11px;
    border-radius: 42px;
}

/* div .button{
    display: inline-block;
    width: 118px;
    margin: 13px auto;
    padding: 11px;
} */

